.login{
 display: flex;
}
.login__left-content{
    padding: 196px 0px 0px 0px;
}
.login__left{
  width: 800px;
  height: 900px;
  background-color: #F5F6F7;;
}
.login__left-h2{
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #003367;
    margin-bottom: 47px;
}
.login__left-img{
    width: 598px;
    height: 455px;
    margin: 0px auto;
    margin-bottom: 170px;
}
