@import './null.scss';
@import './_variabls.scss';
// @import '../components/Home/home.scss'
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto:wght@400;500&display=swap');

body{
 overflow-x: hidden;
 font-family: 'Roboto', sans-serif;
}
 .wrapper{
     width: 1600px;
     min-height: 100vh;
     margin:0px auto;
     display: flex;

 }
 .main{
     border: 1px solid black;
     flex: 1 1 100%;
    //  padding: 25px 0px;
 }
